#app {
  height: 100vh;

  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer';
}

#app > header {
  grid-area: header;
  background-color: red;
}

#app > main {
  grid-area: main;
  overflow: auto;
  padding: 15px 5px 10px 5px;
  background-color: pink;

  /* nested grid */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 600px 1fr;
}

#app > footer {
  grid-area: footer;
  background-color: blue;


}